.breadcrumb {
  a {
    color: #4183c4 !important;
  }
}

.product-detail {
  margin: 100px auto;
  max-width: 1280px;

  &__item {
    &__images {
      width: 400px !important;
      height: 600px !important;
      display: grid;
      grid-template-columns: repeat(4, 100px);
      grid-template-rows: 100px 100px 100px 100px 1fr;
      grid-gap: 10px;

      img {
        display: block;
        width: 100%;
        border: 1px solid red;
        height: 100%;
        cursor: pointer;
      }

      img:first-child {
        grid-area: 1/1/5/5;
      }

      img:not(:first-child) {
        grid-area: auto;
      }
    }
  }
}
