.breadcrumb {
  a {
    color: #4183c4 !important;
  }
}

.product-detail {
  margin: 100px auto;
  max-width: 1280px;

  &__item {
    display: flex;

    &__images {
      height: 600px;
      display: grid;
      grid-template-columns: repeat(4, 100px);
      grid-template-rows: 100px 100px 100px 100px 1fr;
      grid-gap: 10px;
      margin-top: 10px;

      img {
        display: block;
        width: 100%;
        border: 1px solid red;
        height: 100%;
        cursor: pointer;
      }

      img:first-child {
        grid-area: 1/1/5/5;
      }

      img:not(:first-child) {
        grid-area: auto;
      }
    }

    &__description {
      padding: 0 50px;
      .price {
        font-weight: 600;
      }
      h1 {
        text-transform: uppercase;
      }
      pre {
        font-family: inherit;
      }
    }
  }
}
