.container-products {
  height: 1000px;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 50px;
  overflow-y: scroll;
}

.bold-word {
  font-weight: bold;
}
td {
  text-align: center;
  padding: 4px;
}
