.product-card {
        &__name {
                font-weight: bolder;
                font-size: 18px;
        }

        &__price {
                margin-top: 10px;
                font-size: 14px;
                color: rgb(122, 122, 122);
        }
}

.rating-bar {
        display: flex;

        &__text {
                margin-right: 10px;
        }

        &__rate {
                font-size: 18px;
                font-weight: bold;
                color: rgb(58, 58, 58);
        }
}

